{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="/product/list" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected disabled>--Select A Variant--</option>
                    {% for var in variants %}
                        <optgroup label="{{var.title}}">
                            {% for variant in var.productvariant.all %}
                                <option>{{variant.variant_title}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for product in page_obj %}
                <tr>

                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{ product.title }} <br> Created at : {{ product.created_at }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant{{ forloop.counter }}">
                            {% for prod_var_price in product.productvariantprice.all %}
                                <dt class="col-sm-3 pb-0"> 
                                    {{ prod_var_price.product_variant_one.variant_title }} / {{ prod_var_price.product_variant_two.variant_title }} / {{ prod_var_price.product_variant_three.variant_title }}
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{ prod_var_price.price }}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{ prod_var_price.stock }}</dd>
                                    </dl>
                                </dd>
                            {% endfor %}
                        </dl>
                        <button onclick="$('#variant{{ forloop.counter }}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <!-- <p>Showing 1 to 10 out of 100</p> -->
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ page_obj.paginator.count }}</p>
            </div>
            <div class="col-md-2">
                <div class="pagination">
                    
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a id="prev" class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item">
                            <a id="first-position" class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a id="second-position" class="page-link" href="#">2</a></li>
                          <li class="page-item"><a id="third-position" class="page-link" href="#">3</a></li>
                          <li class="page-item"><a id="fourth-position" class="page-link" href="#">4</a></li>
                          <li class="page-item">
                            <a id="next" class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        console.log('ok')
        let firstPosition = document.getElementById('first-position');
        let secondPosition = document.getElementById('second-position');
        let thirdPosition = document.getElementById('third-position');
        let fourthPosition = document.getElementById('fourth-position');
        let prevBtn = document.getElementById('prev');
        let nextBtn = document.getElementById('next');
        let currentPage = '{{ page_obj.number }}';
        console.log(currentPage)

        if(currentPage <= 4) {
            console.log('smaller')
            firstPosition.innerText = 1;
            secondPosition.innerText = 2;
            thirdPosition.innerText = 3;
            fourthPosition.innerText = 4;
        } else {
            firstPosition.innerText = parseInt(currentPage) - 3;
            secondPosition.innerText = parseInt(currentPage) - 2;
            thirdPosition.innerText = parseInt(currentPage) - 1;
            fourthPosition.innerText = parseInt(currentPage) - 0;
            console.log(firstPosition)
        }

        let allPaginationBtns = document.getElementsByClassName('page-item');
        for(let i=0; i<allPaginationBtns.length; i++) {
            if(allPaginationBtns[i].innerText == currentPage){
                allPaginationBtns[i].classList.add('active');
            } else {
                allPaginationBtns[i].classList.remove('active');
            }
        }

        firstPosition.addEventListener('click', (e) => {
            e.preventDefault();
            let page_no = e.target.innerText;
            let url = window.location.href;
            window.location = getToPage(url, page_no);
        })
        secondPosition.addEventListener('click', (e) => {
            e.preventDefault();
            let page_no = e.target.innerText;
            let url = window.location.href;
            window.location = getToPage(url, page_no);
        })
        thirdPosition.addEventListener('click', (e) => {
            e.preventDefault();
            let page_no = e.target.innerText;
            let url = window.location.href;
            window.location = getToPage(url, page_no);
        })
        fourthPosition.addEventListener('click', (e) => {
            e.preventDefault();
            let page_no = e.target.innerText;
            let url = window.location.href;
            window.location = getToPage(url, page_no);
        })
        nextBtn.addEventListener('click', (e) => {
            e.preventDefault();
            let page_no = e.target.innerText;
            let url = window.location.href;
            window.location = getToPage(url, page_no);
        })
        prevBtn.addEventListener('click', (e) => {
            e.preventDefault();
            let url = window.location.href;
            if(parseInt(currentPage)-1 >= 1){
                window.location = getToPage(url, parseInt(currentPage)-1);
            }
        })
        nextBtn.addEventListener('click', (e) => {
            e.preventDefault();
            let url = window.location.href;
            if(parseInt(currentPage)+1 <= parseInt('{{ page_obj.paginator.num_pages }}')){
                window.location = getToPage(url, parseInt(currentPage)+1);
            }
        })
        console.log(currentPage)
        function getToPage(url, page_no) {
            let currentURL = url;
            let urlArray = currentURL.split("?");
            if(urlArray.length >= 2) {
                let params = urlArray[1].split("&");
                let newParams = "";
                let found = false;
                for (let i = 0; i < params.length; i++) {
                    let param = params[i].split("=");
                    if (param[0] === "page") {
                        param[1] = page_no;
                        found = true;
                        
                    }
                    newParams += param.join("=") + (i < params.length - 1 ? "&" : "");
                    
                }
                let newURL = "";
                if(found) {
                    newURL = urlArray[0] + "?" + newParams;
                } else {
                    if(currentURL.includes('?')){
                        newURL = currentURL + `&page=${page_no}`;
                    } else {
                        newURL = currentURL + `?page=${page_no}`;
                    }
                }
                return newURL
            } else {
                return urlArray[0] + `?page=${page_no}`;
            }
        }



    </script>
{% endblock scripts %}